.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @media (max-width:$bp-large) {
    justify-content: end;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.nav-btn {
  border: none;
  width: 4.5rem;
  height: 2px;
  background-color: #fff;
  position: relative;
  margin-top: 4rem;

  @media (max-width:$bp-large) {
    margin-top: 0;
    margin-right: 2rem;
  }

  &::before,
  &::after {
    content: "";
    width: 4.5rem;
    height: 2px;
    background-color: #fff;
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.5rem);
  }

}